
.about-card {
    width: 80rem; /* No quotes needed */
    background-color: transparent;
    border-color: rgba(255, 255, 255, 1); /* Adjust as */
    position: center;
    
}

.about-text {
    font-size: 1.8em; /* Example size */
}

.about-title {
    font-size: 2.3em; /* Example size */
}
