img{
    padding-left: 20px;
}

.my-navbar {
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
  }

.my-link{
    font-size: 18px;
    text-decoration: none;
    color: #666666;
    padding-left: 60px;
    width: 150px;
}
.my-link:hover{
    font-weight: bold;
}
.my-link:before{
    display: block;
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

img{
    padding-left: 25px;
    height: 25px;
}

.my-name{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}